{
	"upgradeCosts": [
		{
			"level": 1.0,
			"newLevel": 6.0,
			"weaponType": "any",
			"material": "r_imperviumalloy",
			"materialAmount": 25,
			"timeNeeded": 3,
			"currencyNeeded": 0
		},
		{
			"level": 2.0,
			"newLevel": 6.0,
			"weaponType": "any",
			"material": "r_imperviumalloy",
			"materialAmount": 20,
			"timeNeeded": 3,
			"currencyNeeded": 0
		},
		{
			"level": 3.0,
			"newLevel": 6.0,
			"weaponType": "any",
			"material": "r_imperviumalloy",
			"materialAmount": 15,
			"timeNeeded": 3,
			"currencyNeeded": 0
		},
		{
			"level": 4.0,
			"newLevel": 6.0,
			"weaponType": "any",
			"material": "r_imperviumalloy",
			"materialAmount": 10,
			"timeNeeded": 3,
			"currencyNeeded": 0
		},
		{
			"level": 5.0,
			"newLevel": 6.0,
			"weaponType": "any",
			"material": "r_imperviumalloy",
			"materialAmount": 5,
			"timeNeeded": 3,
			"currencyNeeded": 0
		},
		{
			"level": 6.0,
			"newLevel": 7.0,
			"weaponType": "any",
			"material": "r_imperviumalloy",
			"materialAmount": 5,
			"timeNeeded": 3,
			"currencyNeeded": 0
		}
	],
	"validItems": {
		"base": [
			"rare",
			"uncommon",
			"common"
		],
		"armor": [
			"headwear",
			"chestwear",
			"legwear"
		]
	}
}
