{
	"upgradeCosts": [
		{
			"level": 1.0,
			"newLevel": 7.0,
			"armorType": "any",
			"material": "r_imperviumalloy",
			"materialAmount": 10,
			"timeNeeded": 3,
			"currencyNeeded": 0
		},
				{
			"level": 2.0,
			"newLevel": 7.0,
			"armorType": "any",
			"material": "r_imperviumalloy",
			"materialAmount": 10,
			"timeNeeded": 4,
			"currencyNeeded": 0
		},
				{
			"level": 3.0,
			"newLevel": 7.0,
			"armorType": "any",
			"material": "r_imperviumalloy",
			"materialAmount": 10,
			"timeNeeded": 6,
			"currencyNeeded": 0
		},
				{
			"level": 4.0,
			"newLevel": 7.0,
			"armorType": "any",
			"material": "r_imperviumalloy",
			"materialAmount": 10,
			"timeNeeded": 10,
			"currencyNeeded": 0
		},
				{
			"level": 5.0,
			"newLevel": 7.0,
			"armorType": "any",
			"material": "r_imperviumalloy",
			"materialAmount": 10,
			"timeNeeded": 10,
			"currencyNeeded": 0
		},
				{
			"level": 6.0,
			"newLevel": 7.0,
			"armorType": "any",
			"material": "r_imperviumalloy",
			"materialAmount": 10,
			"timeNeeded": 10,
			"currencyNeeded": 0
		}	],
	"validItems": {
		"base": [
			"essential",
			"legendary",
			"rare",
			"uncommon",
			"common"
		],
		"head": [
			"head",
			"helmet",
			"helm",
			"cap"
		],
		"chest": [
			"chest",
			"torso",
			"breast",
			"armor",
			"body"
		],
		"legs": [
			"pants",
			"leg",
			"greave",
			"greaves",
			"boot",
			"boots"
		]
	}
}
