{
	"gui": {
		"background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/scripted/r-platingtable/header.png",
			"fileBody": "/interface/scripted/r-platingtable/body.png",
			"fileFooter": "/interface/scripted/r-platingtable/footer.png"
		},
		"shine": {
			"zlevel": 1,
			"type": "image",
			"file": "/interface/scripted/r-platingtable/shine.png",
			"offset": [
				0,
				0
			]
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"pressed": "/interface/xpress.png",
			"pressedOffset": [
				0,
				0
			],
			"position": [
				128,
				98
			]
		},
		"upgradeSlot": {
			"zlevel": 5,
			"type": "layout",
			"layoutType": "basic",
			"position": [
				47,
				58
			],
			"size": [
				88,
				30
			],
			"children": {
				"slotbg": {
					"zlevel": -1,
					"type": "image",
					"position": [
						45,
						2
					],
					"file": "/interface/inventory/empty.png"
				},
				"border": {
					"type": "image",
					"position": [
						45,
						2
					],
					"file": "/interface/inventory/redborder.png"
				},
				"timer": {
					"type": "label",
					"position": [
						23,
						21
					],
					"hAnchor": "mid",
					"value": "TIMER"
				}
			}
		},
		"lockeditemGrid": {
			"zlevel": 5,
			"type": "itemslot",
			"position": [
				92,
				60
			],
			"callback": "null"
		},
		"itemGrid": {
			"zlevel": 5,
			"type": "itemgrid",
			"position": [
				92,
				60
			],
			"spacing": [
				19,
				19
			],
			"dimensions": [
				1,
				1
			]
		},
		"padlock": {
			"zlevel": 6,
			"type": "image",
			"position": [
				105,
				72
			],
			"file": "/interface/scripted/r-platingtable/lockicon.png"
		},
		"upgradeCost": {
			"zlevel": 5,
			"type": "layout",
			"layoutType": "basic",
			"size": [
				125,
				32
			],
			"position": [
				10,
				25
			],
			"children": {
				"background": {
					"type": "image",
					"zlevel": -1,
					"position": [
						0,
						0
					],
					"file": "/interface/craftingtooltip/listitem.png"
				},
				"itemSlot": {
					"type": "itemslot",
					"position": [
						3,
						2
					],
					"callback": "null"
				},
				"itemName": {
					"type": "label",
					"position": [
						24,
						11
					],
					"hAnchor": "left",
					"vAnchor": "mid",
					"wrapWidth": 66,
					"lineSpacing": 1.0,
					"value": "Golden Moustache"
				},
				"itemCount": {
					"type": "label",
					"position": [
						118,
						11
					],
					"hAnchor": "right",
					"vAnchor": "mid",
					"value": "19/99"
				},
				"currencyCost": {
					"type": "layout",
					"layoutType": "basic",
					"position": [
						22,
						21
					],
					"size": [
						80,
						10
					],
					"children": {
						"background": {
							"type": "image",
							"file": "/interface/scripted/r-platingtable/currencycontainer.png"
						},
						"icon": {
							"type": "image",
							"scale": 0.5,
							"position": [
								2,
								0
							],
							"file": "/items/currency/essence.png"
						},
						"text": {
							"type": "label",
							"position": [
								12,
								0
							],
							"value": "0"
						}
					}
				}
			}
		},
		"upgradeBtn": {
			"zlevel": 15,
			"type": "button",
			"base": "/interface/button.png",
			"hover": "/interface/buttonhover.png",
			"disabledImage": "/interface/buttongrayed.png",
			"caption": "Upgrade!",
			"hAnchor": "mid",
			"vAnchor": "bottom",
			"position": [
				33,
				62
			]
		},
		"stopBtn": {
			"zlevel": 15,
			"type": "button",
			"base": "/interface/buttonactive.png",
			"hover": "/interface/buttonactivehover.png",
			"disabledImage": "/interface/buttongrayed.png",
			"caption": "Stop",
			"hAnchor": "mid",
			"vAnchor": "bottom",
			"position": [
				33,
				62
			]
		}
	},
	"scriptWidgetCallbacks": [
		"upgradeBtn",
		"stopBtn"
	],
	"scripts": [
		"/interface/scripted/r-platingtable/r-platingtable.lua"
	],
	"scriptDelta": 1
}
