{
  "converse" : {
    "default" : {
      "default" : [
        "The darkness demands sacrifice...",
        "Once the ritual is complete I shall ascend to join the terrors of the night!",
        "The Darkest Void hungers for souls...",
        "Beware, you have no idea what forces you are trifling with.",
        "The Shadows call for me..."
      ]
    }
  }
}