{
  "converse": {
    "default": {
      "default": [
        "I'm staying back here to help as many refugees as I can, such is the duty of a Terrene Guardian captain.",
"Space has already been a lawless place, but it can't be a coincidence that there are so many more space pirates and criminals now...",
"As a captain of the Guardians, I've never experienced something as bad as this.",
"It sure is a good thing that pilot training is something the Guardians teach.",
"We could only save so many civilians...",
"I won't rest until this ship is on its last legs!",
"It's good to see a Protector out here, maybe there's more left of the Electorate than we think.",
"Being a captain of the Guardians certainly has its perks! Well, mostly just cooler armor.",
"I wonder what's happened to that \"Insideous Kabuki Triad\". I heard the Peacekeepers took them down a good while ago, but they still haven't recovered the Guardians' stolen shield!"
      ]
    }
  }
}