{
  "converse": {
    "default": {
      "default": [
        "I didn't sign up to the Guardians for *this*!",
"A Protector? Thank goodness! I thought us Guardians were all that was left of the Electorate...",
"And I thought I was going to retire in a month or so!",
"After getting these refugees to safety in this ship, I barely got in with my life!",
"I'm going to have nightmares about tentacles for the rest of my life now aren't I?",
"The Terrene Guardians are here to serve!",
"And I thought being a Guardian was going to be a fairly uneventful job...",
"It can be a little difficult keeping these refugees calm and sane at times, but we've been managing.",
"It's good to see another survivor from Earth.",
"I doubt the Guardians would have been able to face off... whatever destroyed our home if we were at full strength. I doubt anyone could.",
"In all of the disaster scenarios we've been trained for, none of them involved planet killing tentacle monsters!",
"I guess technically we Guardians are refugees too.",
"I wonder how the Terrene Peacekeepers are doing?",
"I guess we're technically not the \"Terrene\" Guardians anymore...",
"Good luck out there Protector, we can take care of these refugees here.",
"Earth broke before the Guardians did. Remember that."
      ]
    }
  }
}