{
  "converse": {
    "default": {
      "default": [
        "I'm investigating the Letheia Corporation for massive fraud! It's a... Big case.",
        "I've decided I'm gonna be a loose cannon Peacekeeper! Watch out, crime-doers!",
        "I joined up with the Peacekeepers mostly because of the Captain's sheer enthusiasm. Such charisma!",
        "Is it just me, or does the Peacekeeper emblem look like a big smiling face? I can't unsee it!",
        "I guess we're not really \"Terrene\" Peacekeepers now that Earth is gone...",
        "Given how bad things have gotten, we've been having to start hiring bounty hunters to grow our ranks!",
        "Some of us managed to survive the destruction of Earth, there aren't many of us left...",
"Hey there!",
        "I'll keep the peace around here, don't you worry!",
        "I'm on patrol! Well, not quite. But I am on the lookout for bad guys, at least.",
        "This whole sector is under my protection! Don't you worry!"
      ]
    },
    "apex": {
      "default": [
        "Officer <selfname>, at your service! Well, not right now. I'm pretty busy.",
        "I'll work my way up the Peacekeeper chain until I can take on the Miniknog myself!",
        "Being a Peacekeeper is a chance for me to bring some good back to the universe!",
        "I have a strong sense of justice, so the role of a Peacekeeper is perfect for me!",
        "Becoming a Peacekeeper has finally given me a role in life that allows me to do some real good for the galaxy.",
"As a Miniknog soldier I kept my kin oppressed, it is only as a Peacekeeper that I truly keep the peace.",
"We've been starting to work alongside some rebel cells, it's about time we help my kin find true peace through freedom.",
"As long as there's no trouble around here, I won't have to use my gun.",
        "The life of the Peacekeeper is... Quieter than the life I grew up with.",
        "Hopefully the life of a Peacekeeper can help me bring some good to the universe."
      ]
    },
    "hylotl": {
      "default": [
        "Fighting space crime is such an uphill task... I feel like I'm merely a drop in the ocean.",
        "I cannot talk now - I have some complex cases to solve in my head.",
        "My third eye can actually SEE justice. Isn't that impressive?",
"As a fashion expert, I find the Peacekeepers have good tastes.",
"Sometimes one must forego their pacifist ways to preserve peace.",
"It is an irony that peace is something that sometimes must be upheld by violence.",
"It is in dark times like these that peace is needed the most.",
"My duties as a Peacekeeper come before all else. I'm sure you understand.",
        "As much as I admire pacifism, some situations cannot be resolved with words alone.",
        "There are many injustices in this universe to right. I have a lot of work to do."
      ]
    },
    "floran": {
      "default": [
        "Floran's name is <selfname>. Floran saying hello!",
        "Floran isss a Peacekeeper. Floran keepssss the peace, and does not eat it.",
        "Floran doing good thingsss. Floran proud.",
        "Floran is Officer <selfname>! Floran's job isss to watch bad guysss.",
        "Floran is Officer <selfname>! Floran hasss cassses to investigate. Floran is hard worker.",
"Floran sssometimes want to eat criminalsss...",
"Floran hope that other Floran will become Peacekeepersss too!",
"Floran here to help!",
        "Floran here to shoot bad guysss.",
        "Floran here to be good and help out."
      ]
    },
    "glitch": {
      "default": [
        "Welcoming. My name is Officer <selfname>, and I am here to assist in the proliferation of justice!",
        "Tired. I've been working this shift for a long time.",
        "Valiant. I am determined to bring peace to this sector once more!",
        "Eager. As long as I still stand, I shall bring justice to the stars!",
        "Eager. The Captain exudes confidence. I one day hope to be even half as inspirational as he is!",
        "Vain. If I am to be truly honest, I became a Peacekeeper so I get to wear this dashing uniform.",
        "Determined. I've been investigating a criminal gang and am close to a breakthrough.",
"Eager. Neither beast nor rogue shall bring harm to this place!",
        "Gallant. My aim is true - any evildoers that step foot here will be swiftly sorry!",
        "Nervous. I haven't done field work before - what if I do not succeed?"
      ]
    },
    "avian": {
      "default": [
        "Well ruffle my feathers - a friendly new face!",
        "The Peacekeepers are a light in the darkness of our universe. How could I not join?",
        "I hope that by becoming a Peacekeeper and helping people, I can inspire others to do good themselves!",
        "To journey through the stars, bringing justice to the wicked... That is my duty here!",
        "Hello there - I am Officer <selfname>, on the case with a happy face!",
        "This is my first job! I hope I don't mess up!",
"Being a peacekeeper taught me that one doesn't need to follow Kluex to be moral and just.",
"Officer <selfname> here! I'm here to protect, and also to serve.",
        "There's nothing like helping out your local community, is there?",
        "I'm keeping an eye out for danger. I'll keep you safe!"
      ]
    },
    "novakid": {
      "default": [
        "I'm the Sheriff around these here parts.... Actually, I haven't quite reached Sheriff rank yet.",
        "Officer <selfname> is the name, an' I'm here to help the Captain bring rule o' law to these parts!",
        "Howdy! I'm Officer <selfname>, and I'm ready to bust up some bad guys!",
        "It ain't easy to blend in around these parts when you light up like a summer afternoon.",
"I forget. What assignment was I on again?",
"Sometimes I forget that I'm on duty!",
"You ain't a perp yerself right? I forget who I'm after sometimes.",
"Howdy! I'm keepin' an itchy trigger finger on my pistol, just in case o' trouble.",
        "I'm keepin' the peace around here. Y'all ain't got anythin' to worry about!",
        "Howdy there! I hope you're keepin' out of trouble! Jus' kiddin', I know you ain't."
      ]
    }
  }
}