{
  "converse": {
    "default": {
      "default": [
        "Now that we no longer have a homeworld, where will we go now?",
"I guess the best we can do is go find a suitable planet to set up camp...",
"I hope some of those small settlements some of us Humans have already made will be open for some of us to join and expand.",
"This ship's going to have to take a lot of pitstops to restock and let some of us refugees off.",
"I think I might just become a nomad, I've heard that ferrying supplies between space stations makes good pay!",
"A Protector? I knew at least one of you would make it!",
"We nearly were a goner back there, our FTL drive could have easily gone critical like it did for some of the other ships...",
"I'm not from Earth actually, I was evacuated from the Mars colony.",
"Everything was so peaceful, then the portals appeared...",
"I don't think I'm going to take any chances in finding refuge in an Apex rebel camp, the Miniknog sounds like an even worse option...",
"Apparently the Stargazers are pretty eager for Human refugees, but I'd rather not end up as a blood sacrifice. The Grounded would rather not risk getting into any conflict with the Stargazers over us meanwhile...",
"The Hylotl are only giving a small number of us Humans immigration status, and that's only if we accept working for Letheia... I've heard some bad rumors about Letheia lately...",
"I'm not going to risk living in a Floran tribe here, I'd rather be in some camp with my fellow Humans.",
"Given how often Glitch kingdoms seem to be locked in conflict, I don't think I'll settle in one anytime soon...",
"I'm sure the Novakid are a hospitable sort, but frankly I want to live somewhere where there's some semblance of the law.",
"Great, I'm going to have tentacle nightmares for the rest of my life aren't I?",
"What even attacked Earth? Some sort of tentacle monster? It felt like it came out of nowhere!",
"We ran into some of those Occasus fellows recently, their offers were pretty tempting at first, but then they got pretty agitated as soon as they learned there were non-humans with us.",
"I wonder what this'll mean for the Terrene Electorate, or its branches for that matter?",
"I'm afraid I'm not interested in talking to you right now. I lost family and friends back on Earth...",
"Ironic how we're in the exact situation the Protectorate would try to help out with...",
"I bet whatever's left of the USCM feels vindicated now, I wonder what all their penal colonies will mean for our future...",
"I've heard that there are scavengers scrounging up what's left of Earth, I hope they didn't steal any of my belongings!",
"Why do some crackpots insist that the thing that destroyed Earth infected it or something instead? I saw the Earth crack apart with my own eyes!",
"Since we abandoned the Mars colony, I wonder what'll come of it?"
      ]
    },
    "apex": {
      "default": [
        "If it's any consolation, I doubt even the Miniknog could protect themselves from something as terrible as what destroyed Earth.",
"I think its time I help my brethren in the Apex Rebellion. Perhaps in turn they will be able to help the Humans recover and rebuild.",
"I have family living under the clutches of the Miniknog. I would rather not return to them, but it looks as if I have no choice...",
"It it telling that the Miniknog is unwilling to let Human refugees in, no doubt they fear outside influence, especially of a species so freedom-minded as Humans.",
"The rebels will always welcome those in need, but I can understand why the Humans here are apprehensive about settling in the midst of a civil war.",
"It is sad to see a beacon of freedom like Earth gone, the Rebellion has taken much inspiration from the Terrene Electorate in how it governs.",
"I've heard rumors that the Terrene Protectorate was secretly supplying aid to the rebels. Now the rebellion is truly on its own...",
"If only my kind wasn't locked in a civil war or wasn't under the grip of a totalitarian regime... surely my kind would help in this situation otherwise.",
"Perhaps it is a good thing the Miniknog are too preoccupied with their civil war, one shudders at the thought of what they would do if they were to show an interest in what destroyed Earth...",
"Don't tell anyone else this, but I think the Miniknog would easily survive the destruction of one of their planets."
      ]
    },
    "hylotl": {
      "default": [
        "The destruction of Earth is a true travesty, to witness it is even more harrowing...",
"I feel personally ashamed that the Hylotl Stewardship will only let in a small number of Humans, us Hylotl are better than this!",
"My condolences Protector, the loss of your homeworld and organization must be a terrible tragedy for you.",
"The loss of the Terrene Protectorate truly saddens me, it was such a positive force in the galaxy!",
"I do wonder what happened to the Earth's moon, there was a Letheia erchius mining facility on it.",
"Surely this won't happen to my kin's homeworld next, surely.",
"It is events like these that show how unpredictable life can be, never let oneself become complacent!",
"The fall of Earth reminds me all too much of stories about the Floran invasion of my people's homeworld...",
"It is fortunate for me that I and my kin will be given asylum among my people. I cannot say the same for the other species here.",
"Earth's beauty and cultural richness will be missed, even by my kin."
      ]
    },
    "floran": {
      "default": [
        "Floran want to ssstab beasst that killed Earth!",
"Floran feel bad for meat people...",
"Meat people have no tribesss to return to?",
"Floran not usssed to ssspace, Floran ssscared.",
"Floran will misss Earth.",
"Not all of us Earth-born Floran ssspeak in stereotypical Floran fashion, dropping the lisssp is a different story...",
"I was a Greenfinger of a Floran community on Earth, I'm not sure how many of my community made it out...",
"It looksss like I'm going to have to return to my family out in the fringes of the galaxy, adjusssting to tribal life is going to be difficult...",
"I don't think many of the Humansss here will be open to joining a Floran tribe.",
"I felt a genuine connection to the Earth when I lived there, now it'sss gone..."
      ]
    },
    "glitch": {
      "default": [
        "Saddened. It is a real tragedy that Earth is now gone.",
"Empathetic. I may need to declare my emotions before I speak, but the loss I feel is as genuine as of everyone else here.",
"Mourning. All of those people who died... they will be missed.",
"Enraged. Whatever was responsible for this will pay!",
"Disappointed. Few of the Humans here show an interest in joining a freethinking Glitch enclave with me.",
"Worried. I am afraid that the only place I can return to is the very kingdom I fled from...",
"Disturbed. What if Earth is only the beginning? Who knows what planet will fall next...",
"Envious. I would never be in this situation if I were still a normal Glitch.",
"Speculative. I bet what destroyed the Earth was a giant space squid!",
"Optimistic. I'm sure the Human race will be able to recover from this."
      ]
    },
    "avian": {
      "default": [
        "Perhaps it was just Kluex's will for this to happen, right?",
"Kluex works in mysterious ways, doesn't he?",
"The Avoscript predicted that this would happen! I have proof!",
"Mark my words, this was all an act of Kluex to punish the non-believers of Earth!",
"Thank Kluex that I managed to survive the fall of Earth!",
"Surely a being as supposedly all-powerful, omnipotent, and benevolent as Kluex wouldn't allow for a disaster like this to happen, right?",
"There is a perfectly natural and scientific explanation for the fall of Earth, no deities involved at all.",
"The Stargazers and Grounded communities both are more than happy to take us Avian refugees under their wing, but I can't blame the Humans for shying away from the open arms of the Stargazers.",
"Shhh, don't tell anyone else this, but I'm actually just a Human in an Avian suit trying to sneak into a grounded community.",
"No doubt the Stargazers will take advantage of this to try to spread their faith, it's a good thing these Humans are well aware of the lies Kluexism is built on."
      ]
    },
    "novakid": {
      "default": [
        "I forget, what am I doin' here again?",
"I sure hope I don't forget good ol' Earth, she was a beauty...",
"Why in tarnation am I stuck with a bunch of Humans again?",
"The destruction o' Earth, now that's somethin' I'll want to forget...",
"This here situation sure ain't pretty.",
"I don't rekon the Humans here would want to live in a lawless backwater like my hometown. Come to think o' it, I don't recall where my hometown is.",
"I was with the Novakid wanderers of Mars when we had to evacuate, I sure hope they made it out ok.",
"Darn that thing that blew up ol' Earth! I swear I felt somethin' mighty strange when it was attackin' too...",
"I'm itchin' to get off this dang thing at the soonest stop!",
"Best o' luck to the Humans here, they'll need it."
      ]
    }
  }
}