{
"greeting": {
    "default": {
      "default": [
         
"..."
      ]
    }
  },
  "converse" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "accuse" : {
    "default" : {
      "default" : [
        "...!"
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "...?"
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "...!"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "...!"
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "...!"
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "...?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "...!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "...!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "...!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "...!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "...?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "...?"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "...!"
      ]
    }
  }
}