{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "PRT", "TER" ],
      [ { "mode" : "alts" }, "-" ],
      [ { "mode" : "alts" }, "003", "011", "017", "019", "021", "022", "024", "034", "043", "069", "074", "077", "087", "092", "100", "101", "106", "108", "112" ]
    ]
  ]
}
