{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "smoke"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/fire_out.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 3,
      "backgroundRadius" : 3,
      "explosiveDamageAmount" : 4,
      "delaySteps" : 2,
      "tileDamageType" : "fire"
    }

  ]
}
